<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
  <title>Show User</title>
</head>
<body>
User data
  <br>
    <tr>
      <tr th:each="user, state : ${showUser}"><br>
      <td th:utext="${showUser.getName()}"></td><br>
      <td th:utext="${showUser.getSurname()}"></td><br>
      <td th:utext="${showUser.getEmail()}"></td><br>
      <td th:utext="${showUser.getLogin()}"></td><br>
      <td th:utext="${showUser.getPassword()}"></td><br>
      <td th:utext="${showUser.getRoles()}"></td><br>
    </tr>
  </table>
<br/>
</td>
<a type="button" th:href="@{/}"> Exit </a>
</td>

</body>
</html>